body {
  background-color: rgb(0, 0, 0);
}
.wrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.container {
  font: 1px;
  padding: 0 20px;
}
